html {
    /*background: url(../img/abstract-blue.jpg) no-repeat center center fixed;*/
    background: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
}

.container-class {
    text-align: center;
}


.front-pt {
    width: 25%;
    border: solid 1px #555;
    background-color: #eed;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    transition: transform .3s; /* Animation */
}

.front-pt2 {
    width: 41%;
    border: solid 1px #555;
    background-color: #eed;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    transition: transform .3s; /* Animation */
}


#nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: red;
}

.nav-item{
    float: left;
}

.nav-item a {
    display: block;
    color: white;
    font-weight: bolder;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.nav-item a:hover {
    color: #fff;
    background-color: #111;
}

.fancy-header {
    color: pink;
}
.fancy-shadow {
    text-shadow: 2px 2px #ff0000;
}

/* This is an example of a descendant selector, meaning all h3 under parent element container will be affected */
#container h3 {
    color: yellow;
}

/* This is an example of a Direct-Child selector meaning that the direct child of parent will only get the style */
#container>h2 {
    color: red;
}

a:visited {
    color: white;
}

a:hover {
   color: purple;
}

a:active {
    color:red;
}




