@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:ital,wght@1,900&display=swap');

html {
    /*background: url(../img/abstract-blue.jpg) no-repeat center center fixed;*/
    background: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
}

.container-class {
    text-align: center;
}


.front-pt {
    width: 25%;
    border: solid 1px #555;
    background-color: #eed;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    transition: transform .3s; /* Animation */
}

.front-pt2 {
    width: 41%;
    border: solid 1px #555;
    background-color: #eed;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    transition: transform .3s; /* Animation */
}

nav {
    border: 5px solid white;
}

#nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: red;
}

.nav-reg{
    float: right;
    padding-top: 8px;
    padding-right: 10px;
    font-size: 20px;
    text-shadow: 3px 2px black;
}

.nav-item a {
    display: block;
    color: white;
    font-weight: bolder;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: transform .2s; /* Animation */
}


.nav-item a:hover {
    color: #ff0;
    transform: scale(1.1);
}

/*Navbar Comsme Fitness*/
.home {
    float: left;
    padding-left: 10px;
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 30px;
    text-shadow: 3px 4px black;
    transition: transform .2s; /* Animation */
}

.home a:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.fancy-header {
    color: pink;
}
.fancy-shadow {
    text-shadow: 2px 2px #ff0000;
}

/* This is an example of a descendant selector, meaning all h3 under parent element container will be affected */
#container h3 {
    color: yellow;
}

/* This is an example of a Direct-Child selector meaning that the direct child of parent will only get the style */
#container>h2 {
    color: red;
}

a:visited {
    color: white;
}

a:hover {
   color: purple;
}

a:active {
    color:red;
}

/*About Us */
.creators {
    text-align: center;
    padding: 50px;
    margin: 20px;
}

.bdc {
    width: 40%;
    margin: 10px;
}

/*Contact Us Page*/
.contact-us {
    text-align: center;
    margin-top: 20px;
}

#contact {
    font-size: 60px;
}

#message {
    width: calc(100% - 8px);
    height: 200px;
    box-sizing: border-box;
}



