body, html {
    height: 100%;
    width: 100%;
    padding: 10px;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message {
    border: 3px ridge grey;
    border-radius: 5px;
    width: 40%;
    margin: 10px 0;
    padding: .5em;
}

.message-info {
    background-color: lightblue;
    color: midnightblue;
}

.message-success{
    background-color: palegreen;
    color: darkgreen;
}

.message-warning {
    background-color: palegoldenrod;
    color: darkgoldenrod;
}

.message-error {
    background-color: lightpink;
    color: darkred;
}